# Kestra basic-auth credentials (required)
KESTRA_SERVER_BASIC_AUTH_USERNAME=kestra@gmail.com
KESTRA_SERVER_BASIC_AUTH_PASSWORD=zFf9yBkjPfAFUqnn


BUCKET_NAME=<BUCKET_NAME>
ENV_BUCKET_NAME=<BUCKET_NAME>

KESTRA_AI_GEMINI_API_KEY=SECRET

AWS_ACCESS_KEY_ID=SECRET
AWS_SECRET_ACCESS_KEY=SECRET_KEY
AWS_REGION=eu-west-1
AWS_ENDPOINT_URL=ENDPOINT_URL


HEVY_API_KEY=SECRET_KEY

RP_BEARER_TOKEN=SECRET