[settings]
npm.package_manager = "bun"
auto_install = false

[tools]
"node" = "latest"
"bun" = "latest"
"npm:@redocly/cli" = "2.20.0"

[env]
RP_APP_BASE_URL = "https://training.rpstrength.com/api"
RP_APP_VERSION = "1.1.13"

[tasks.test]
run = "echo 'No tests defined'"

[tasks.build]
run = "GITHUB_TOKEN=${GITHUB_TOKEN:-$(gh auth token)} docker build --secret id=GITHUB_TOKEN,env=GITHUB_TOKEN -f Dockerfile -t rp-to-strong-api-consumer ../.."
description = "Build the CLI Docker image"
sources = ["openapi.yaml", "Dockerfile"]

[tasks.compile-openai]
tools = { "redocly" = "2.20.0" }
run = "redocly build-docs openapi.yaml --output openapi/index.html"
sources = ["openapi.yaml"]
description = "Compile OpenAPI docs"
outputs = ["openapi/index.html"]

[tasks.serve-openapi]
depends = ["compile-openai"]
run = "python -m http.server --directory openapi"
description = "Serve OpenAPI docs"

[tasks.run-docker]
depends = ["build"]
run = "docker run -p 8080:8080 rp-to-strong-api-consumer "
