name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-slim
    strategy:
      fail-fast: false
      matrix:
        package: [cli, pipeline]
    name: build ${{ matrix.package }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      # TODO: add build steps
      - name: Placeholder
        run: echo "Build for ${{ matrix.package }} - not yet implemented"
