name: Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
permissions:
  contents: read
jobs:
  test:
    runs-on: blacksmith-2vcpu-ubuntu-2404-arm
    name: test
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
      - name: Install Dependencies
        run: mise prepare
      - name: Run tests
        run: mise //...:test
